body{
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	position: absolute;
	height: 80px;
	width: 100%;
	background-color: #999;
	padding: 0;
	z-index: 4;
}
.header img{
	position: relative;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 60px;
}
.header ul li{
	list-style-type: none;
	display: inline-block;
	line-height: 80px;
	transition: 0.5s all;
}
.header ul{
	float: right;
	margin-right: 30px;
}
.header ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}
.header ul li:hover{
	background-color: #f39d1a;
}
.side-nav{
	position: absolute;
	width: 120px;
	background-color: #666;
	height: 100%;
	z-index: 3;
	padding-top: 80px;
}
.side-nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.side-nav ul li{
	padding: 20px 10px;
	border-bottom: 1px solid #333;
	text-align: center;
	transition: 0.5s all;
}
.side-nav ul li a{
	color: #fff;
	text-decoration: none;
}
.side-nav ul li:hover{
	background-color: #f39d1a;
}
.table{
	text-align: center;
	position: absolute;
	width: 900px;
	height: 400px;
	background-color: gray;
	left: 300px;
	top: 130px;
	padding: 15px;
	border-radius: 15px;
}
h1{
	color: white;
}
table{
	font-size: 20px;
	color: white;
	width: 100%;
}
table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}
th, td{
	padding: 10px;
}